@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700');

:root {
  --light-blue: #1c9eff;
  --dark-blue: #007ad6;
  --btn-yellow: #ffd01a;
  --btn-hover-yellow: #efb10a;
  --btn-active-yellow: #e8a200;
  --light-grey: #f2f2f2;
  --grey: #a0a0a0;
  --pink: #ff9eaa;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 50px;
    background-image: url(../imgs/bg6.png);
    background-position: center;
    background-size: cover;
}

.card{
    margin-top: 120px;
    background-color: #fff;
    max-width: 430px;
    overflow: hidden;
    border-radius: 2rem;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
}

.card .banner{
    background: url(https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}



.card .banner .imgBox{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #fff;
    transform: translateY(50%);
    z-index: 1;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s cubic-bezier(0.075, 0.85, 0.32, 1.275);
}

.card .banner .imgBox img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .banner .imgBox:hover{
    transform: translateY(50%) scale(1.2);
}

.card .card-body{
    position: relative;
    padding: 100px 30px 40px;
}

.card .card-body .menu{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 50%;
    transition: background-color 100ms ease-in-out;
}

.card .card-body .menu:hover{
    cursor: pointer;
    background-color: var(--light-grey);
}

.card h2.name{
    text-align: center;
    padding: 10px;
}

.card .title{
    color: var(--grey);
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}

.card .actions {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


.card .actions .follow-info{
    padding-bottom: 20px;
    display: flex;
}

.card .actions .follow-info h2{
    text-align: center;
    width: 50%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;

}

.card .actions .follow-info h2 span{
    color: var(--light-blue);
    font-weight: bold;
}

.card .actions .follow-info h2 small{
    color: var(--grey);
    font-size: 14px;
    font-weight: normal;
}

.card .actions .follow-info h2:hover{
    background-color: var(--light-grey);
    cursor: pointer;
}

.card .actions .follow-info h2:hover span{
    color: var(--dark-blue);
}

.card .actions button{
    background-color: var(--btn-yellow);
    border: none;
    outline: none;
    width: 100%;
    padding: 1rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 200ms ease-in-out, transform 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card .actions button:hover{
    background-color: var(--btn-hover-yellow);
    transform: scale(1.1);
    cursor: pointer;
}

.card .actions button:active{
    background-color: var(--btn-active-yellow);
    transform: scale(1);
}

.card .desc{
    text-align: justify;
    color: var(--grey);

}

.column {
    float: left;
    width: 180px;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#left{
    color: #333;
    font-weight: bold;

}

#right{
    color: var(--light-blue);
    font-weight: bold;
}



/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

/* HEADER STICKY */
header.sticky {
    background-color: #FFFFFF;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* LOGO IMAGE */
.logo img{
    max-width: 190px;
    height: auto;
}

.logo img:hover {
    transition: all .42s ease;
    transform: scale(1.1);
    cursor: default;
}
/* LOGO IMAGE */

/* NAVMENU BAR*/
.navmenu {
    display: flex;
}

/* NAVMENU lists*/
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
}

.navmenu li {
    list-style: none;
}

.navmenu li:hover {
    transition: all .42s ease;
    transform: scale(1.3);
}

.navmenu a:hover {
    transition: all .42s ease;
    color: rgb(38, 63, 133);
}

.navmenu li #Active {
    color: #EE1C47;
}
/* NAVMENU ICONS*/
.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.3);
    color: rgb(38, 63, 133);
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
/* NAVMENU BAR END*/

/*FOOTER*/
footer{
    width: 100%;
    background: #000000;
    color: #fff; 
    padding: 2px; 
    text-align: center;
    font-size: 1.2rem;
    bottom: 0;
    margin-top: 100px;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
}

/* RESPONSIVENESS */
@media (max-width:750px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: fit-content;
        background: #3f5d8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
        background-color: #2c2c2c;
        border-radius: 50px;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
        color: white;
    }
    .navmenu a:hover{
        display: block;
        margin: 18px 0;
        color: #ffc400;
    }
    .navmenu li{
        color: white;
    }
    .navmenu.open {
        right: 0;
    }
}



