*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    /* color: #444; */
    text-decoration: none;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../imgs/bg6.png);
}


/* HEADER */
header {
    margin-top: 0;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
/* HEADER */

/*FOOTER*/
footer{
    position: fixed;
    width: 100%;
    background: #000000;
    color: #fff; 
    padding: 2px; 
    text-align: center;
    font-size: 1.2rem;
    bottom: 0;
}

.footer-content h3{
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
    text-align: center;
}

/* LOGO IMAGE */
.logo img{
    max-width: 110px;
    height: auto;
}

.logo img:hover {
    transition: all .42s ease;
    transform: scale(1.1);
    cursor: default;
}
/* LOGO IMAGE */

/* NAVMENU BAR*/
.navmenu {
    display: flex;
    margin-left: 200px;
}

/* NAVMENU lists*/
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
}

.navmenu li {
    list-style: none;
}

.navmenu li:hover {
    transition: all .42s ease;
    transform: scale(1.3);
}

.navmenu a:hover {
    transition: all .42s ease;
    color: rgb(38, 63, 133);
}

.navmenu li #Active {
    color: #EE1C47;
}
/* NAVMENU ICONS*/
.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.3);
    color: rgb(38, 63, 133);
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
/* NAVMENU BAR END*/

.container{
    display: flex;
    width: 67%;
    border: 1px solid #ccc;
    border-radius: 7px;
    margin-top: 60px;
}

.left{
    width: 25%;
    font-weight: bold;
    background-color: #fff;
}

.left p{
    padding: 30px 20px;
}

.methods{
    padding: 10px 0;
}

.methods div{
    padding: 7px 20px;
    cursor: pointer;
    font-size: 15px;
}

.methods div:hover{
    box-shadow: 0 0 10px rgba(172, 255, 47, 0.196);
}

.methods div::after{
    content: '';
    display: inline-block;
    color: greenyellow;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 4px 0 4px 4px;
    border-left-color: var(--fondy-success);
    margin-left: 10px;
}

.fa-solid{
    margin-right: 10px;
    font-size: 22px;
    color: #aaa;
}

.center{
    width: 50%;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    height: 70vh;
    background-color: #fff;
}

.center a{
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    width: 25%;
    background-color: #fff;
}

.right p{
    padding: 30px 20px;
    font-weight: bold;
}

.details{
    padding: 20px 20px;
}

.right a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.card-details{
    padding: 20px 80px;
}

.card-details .c-number{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 0 12px;
    margin-top: 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

input{
    border: none;
    border-radius: 3px;
    outline: none;
}

.c-details{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 20px 0;
}

.cc-exp{
    border: 1px solid #aaa;
    border-radius: 3px;
    height: 50px;
    margin-top: 10px;
    padding: 12px;
    width: 150px;
}

.c-details .cvv-box{
    border: 1px solid #aaa;
    margin-top: 10px ;
    padding: 12px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    width: 108px;
}

.cc-cvv{
    width: 60px;
}

.email input{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 12px;
    height: 50px;
    margin-top: 10px;
}

button{
    width: 100%;
    border: none;
    height: 50px;
    border-radius: 3px;
    margin-top: 30px;
    font-size: 18px;
    color: #444;
    background-color: greenyellow;
}

button:hover{
    background-color: #444;
    color: white;
    cursor: pointer;
}

.box {
    position: relative;
}

.box:after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: green;
}

/* RESPONSIVENESS */

/* For smaller screens */
@media (max-width: 720px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding-bottom: 10vh;
        margin-top: 400px; /* Adjust margin-top as needed */
    }

    .left,
    .center,
    .right {
        width: 100%;
        border: none;
        border-radius: 0;
    }

    .left p,
    .right p {
        padding: 20px 20px; /* Adjust padding as needed */
    }

    .methods div {
        padding: 10px 20px;
    }

    .center {
        border: none;
        height: auto;
    }

    .card-details {
        padding: 20px;
    }

    .card-details .c-number,
    .cc-exp,
    .cc-cvv,
    .email input {
        width: 100%;
    }

    .c-details {
        flex-direction: column;
    }
}
@media (max-width:850px){
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: fit-content;
        background: #3f5d8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
        background-color: #2c2c2c;
        border-radius: 50px;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
        color: white;
    }
    .navmenu a:hover{
        display: block;
        margin: 18px 0;
        color: #ffc400;
    }
    .navmenu li{
        color: white;
    }
    .navmenu.open {
        right: 0;
    }
}