
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

body{
    min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 50px;
    background-image: url(../imgs/bg6.png);
    background-position: center;
    background-size: cover;
    
}

.container{
    margin-top: 125px;
}


.card {
    box-shadow: 0 10px 15px 0 rgb(0 0 0 / 40%);
}

.avatar.sm {
    width: 2.25rem;
    height: 2.25rem;
    font-size: .818125rem;
}

.table-nowrap .table td,
.table-nowrap .table th {
    white-space: nowrap;
}

.table>:not(caption)>*>* {
    padding: 0.75rem 1.25rem;
    border-bottom-width: 1px;
}

table th {
    font-weight: 600;
    background-color: #eeecfd !important;
}

.fa-arrow-up {
    color: #00CED1;
}

.fa-arrow-down {
    color: #FF00FF;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

/* HEADER STICKY */
header.sticky {
    background-color: #FFFFFF;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 / 10%);
}

/* LOGO IMAGE */
.logo img{
    max-width: 190px;
    height: auto;
}

.logo img:hover {
    transition: all .42s ease;
    transform: scale(1.1);
    cursor: default;
}
/* LOGO IMAGE */

/* NAVMENU BAR*/
.navmenu {
    display: flex;
}

/* NAVMENU lists*/
.navmenu a{
    color: #2c2c2c;
    font-size: 16px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
}

.navmenu li {
    list-style: none;
}

.navmenu li:hover {
    transition: all .42s ease;
    transform: scale(1.3);
}

.navmenu a:hover {
    transition: all .42s ease;
    color: rgb(38, 63, 133);
}

.navmenu li #Active {
    color: #EE1C47;
}
/* NAVMENU ICONS*/
.nav-icon {
    display: flex;
    align-items: center;
}

.nav-icon i {
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
}

.nav-icon i:hover {
    transform: scale(1.3);
    color: rgb(38, 63, 133);
}

#menu-icon {
    font-size: 35px;
    color: #2c2c2c;
    z-index: 10001;
    cursor: pointer;
}
/* NAVMENU BAR END*/

/*FOOTER*/
footer{
    width: 100%;
    background: #000000;
    color: #fff; 
    padding: 2px; 
    text-align: center;
    position: absolute;
    bottom: 0;
}

.footer-content h3{
    font-size: 22px;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 15px;
    text-align: center;
    margin-top: 2px;
}

/* RESPONSIVENESS */
@media (max-width:750px){
    
    .footer-content{
        display: none;
    }
    .navmenu{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: fit-content;
        background: #3f5d8a;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 120px 30px;
        transition: all .42s;
        background-color: #2c2c2c;
        border-radius: 50px;
    }
    .navmenu a{
        display: block;
        margin: 18px 0;
        color: white;
    }
    .navmenu a:hover{
        display: block;
        margin: 18px 0;
        color: #ffc400;
    }
    .navmenu li{
        color: white;
    }
    .navmenu.open {
        right: 0;
    }
}


@media(max-width:1000px){
    .footer-content{
        display: none;
    }
}

